<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALL POSTS</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1 style="color: rgb(255, 7, 7)">POSTS</h1>
    <% for(post of posts) { %>
        <div class="box">
            <h3 class="name">@<%= post.username %>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <center>
                <a class="links" href="http://localhost:8080/posts/<%= post.id %>">See Details</a>
                <a class="links" href="http://localhost:8080/posts/<%= post.id %>/edit">
                    Edit</a>
                <br>
                <br>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                    <button>DELETE</button>
                </form>
            </center>
        </div>
        <% } %>
            <br /><br /><br />
            <center>
                <a class="links" href="http://localhost:8080/posts/new">Create New Post</a>
            </center>
</body>

</html>